{# <form action="/test/save" method="post">

<input type="text" name="test1">
<input type="text2" name="test2">
<input type="submit" value="wWYslij">
</form> #}

       {{ form_start(form) }}
        
            {{ form_row(form.test1) }}

            {{ form_row(form.test2) }}
    
        {{ form_end (form) }}